$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$footer-text: #FFFFFF;
$break-small: 380px;
$content-width: 1000px;
$nav-height: 20px;
$nav-font-color: #686868;
$orange: #F36928;
$blue: #067BAA;